.content{
    min-height: 1000px;
    background: #eee;
    width: 100%;
    text-align: center;
}

.github-link {
    color: $primary;
    text-decoration: none; 
    font-weight: bold; 
    font-family: 'Open Sans';
    font-size: 22px;
    line-height:200px;
}

.github-link:hover {
    text-decoration: underline; 
}